%p#notice= notice
.events-wrapper.row
  .venue
    .events-head
      .title
        =@event.title
    .image.center-block
      =link_to (image_tag @event.image.url(:medium), class:'img-responsive'), venue_path(@event)
    %p.title
      =@event.date_time
      %br
      =@event.description
      %br
      = link_to 'Edit', edit_venue_path(@event)
