/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 html {
;
  }
 .feedback-margin-bottom {
   margin-bottom: -20px !important;
 }
 
input[type="search"] {
   height: 64px !important;
   /* or height of nav */
}

.less-margin {
 margin-top: -20px !important;
}

.less-padding {
 padding-top: -40px !important;
}
.less-bottom-padding {
 padding-bottom: 0px !important;
}

.more-padding {
 padding-top: 70px !important;
}

.more-bottom-padding {
 padding-bottom: 70px !important;
}

.more-margin-padding {
 margin-bottom: 20px !important;
}

.google-rating {
 font-size: 1.2em;
}

.subhead-padding {
 padding: 0 16px !important;
}

#search-form {
  padding-right: 100px;
}

.input-box {
  box-sizing: border-box;
  width: 100%;
}

// ================ //
// DASHBAORD HEADER
// ================ //

#profile-page-header .card-image {
  height: 250px;
}
#profile-page-header .card-profile-image {
  width: 110px;
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 20px;
  cursor: pointer;
  margin: 0;
}
#profile-page-header .card-content{
  margin-top: -40px;
}
#profile-page-header .card-content .card-title{
  margin-bottom: 0px;
}


form#new_comment.simple_form.new_comment {
  margin-bottom: 2em !important;

}

input .upload-image {
  padding-bottom: 1em !important;
}

.canvasjs-chart-credit {
   display: none;
}



// ================ //
//   MOBILE VIEW
// ================ //


#profile-page-header .mobile-card-image{
    height: 125px !important;
}

.card .card-image img {
  height: 125px !important;
}

.top-header-box {
  width: auto !important;
  height: 3.5em !important;
}

.bottom-header-box {
  width: auto !important;
  height: 3.5em !important;;
  background-color: red !important;;
}

.dashboard-title {
  
}

#profile-page-header .card-image {
  height: 200px !important;
}

.card {
  position: relative;
  margin: 0 0 1rem 0 !important;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.row .col {
  padding: 0 !important;
}

#profile-page-header .card-profile-image {
  width: 110px;
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 20px;
  cursor: pointer;
  margin: 0;
}

#profile-page-header .card-content{
  margin-top: 0px !important;
}
.card .card-content {
  padding: 0px !important;
}
.divider {
  margin: 1em 0 1em 0 !important;
}

.comment-padding {
  padding-left: 1em !important;
}

.rating-score {
  font-family: futura;
}

.new-stuff {
  left: 330px;
  margin: 0;
}

.button-color {
  color: white;
}

.button-margin-left {
  margin-left: 2em; 
}

.button-margin-right {
  margin-right: 2em;
}

.delete-button {
  padding-bottom: 1em;
}









